.todo-item_text {
	float: left;
	width: 85%;
	font-size: 26px;
	color: #666666;
	margin-top: 10px;
	margin-left: 60px;
	outline: none;
	overflow: hidden;
	padding-right: 40px;
	padding-bottom: 10px;
}

.__finished-task {
	text-decoration: line-through;
	opacity: 0.4;
}

.todo-item_text:after {
	clear: both;
	content: '';
}
