.todo-add_select-all {
	margin-left: 7px;
	position: absolute;
	top: 10px;
	background:url('../../../../images/arrow.svg');
	background-repeat: no-repeat;
	height: 24px;
	width: 34px;
	border: none;
	vertical-align: center;
	outline: none;
	cursor: pointer;
}