.todo-add_select-all {
	margin-left: 7px;
	position: absolute;
	top: 10px;
	background:url('../../../../public/images/arrow.svg') no-repeat;
	background-position: center;
	height: 24px;
	width: 34px;
	border: none;
	vertical-align: center;
	outline: none;
	cursor: pointer;
}