.todo-item_mark {
	float: left;
	width: 34px;
	height: 34px;
	border: 1px solid black;
	-webkit-appearance:button;
	border: 1px solid #E3E3FF;
	border-radius: 25px;
	margin-top: -17px;
	margin-left: 10px;
	outline: none;
	cursor: pointer;
	position: absolute;
	top: 50%;
}
